.lst-kix_en1kn6aypcvd-3>li:before {
    content: "-  "
}

.lst-kix_en1kn6aypcvd-4>li:before {
    content: "-  "
}

ol.lst-kix_bo7dh0velakn-5.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-5 0
}

.lst-kix_en1kn6aypcvd-1>li:before {
    content: "-  "
}

.lst-kix_en1kn6aypcvd-2>li:before {
    content: "-  "
}

.lst-kix_en1kn6aypcvd-5>li:before {
    content: "-  "
}

.lst-kix_en1kn6aypcvd-6>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-5>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-5
}

ul.lst-kix_mc86kmvpmqyt-0 {
    list-style-type: none
}

ul.lst-kix_mc86kmvpmqyt-1 {
    list-style-type: none
}

ul.lst-kix_mc86kmvpmqyt-2 {
    list-style-type: none
}

ul.lst-kix_mc86kmvpmqyt-3 {
    list-style-type: none
}

ul.lst-kix_mc86kmvpmqyt-4 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-8.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-8 0
}

ul.lst-kix_mc86kmvpmqyt-5 {
    list-style-type: none
}

ul.lst-kix_mc86kmvpmqyt-6 {
    list-style-type: none
}

ul.lst-kix_mc86kmvpmqyt-7 {
    list-style-type: none
}

.lst-kix_bo7dh0velakn-4>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-4
}

ul.lst-kix_mc86kmvpmqyt-8 {
    list-style-type: none
}

.lst-kix_xlx2ql85dtwn-3>li:before {
    content: "-  "
}

.lst-kix_en1kn6aypcvd-0>li:before {
    content: "-  "
}

.lst-kix_xlx2ql85dtwn-4>li:before {
    content: "-  "
}

.lst-kix_xlx2ql85dtwn-5>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-6>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-6
}

.lst-kix_bo7dh0velakn-3>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-3
}

.lst-kix_xlx2ql85dtwn-2>li:before {
    content: "-  "
}

ul.lst-kix_xlx2ql85dtwn-2 {
    list-style-type: none
}

ul.lst-kix_xlx2ql85dtwn-3 {
    list-style-type: none
}

ul.lst-kix_xlx2ql85dtwn-0 {
    list-style-type: none
}

.lst-kix_xlx2ql85dtwn-1>li:before {
    content: "-  "
}

ul.lst-kix_xlx2ql85dtwn-1 {
    list-style-type: none
}

ul.lst-kix_xlx2ql85dtwn-6 {
    list-style-type: none
}

ul.lst-kix_xlx2ql85dtwn-7 {
    list-style-type: none
}

ul.lst-kix_xlx2ql85dtwn-4 {
    list-style-type: none
}

.lst-kix_xlx2ql85dtwn-0>li:before {
    content: "-  "
}

ul.lst-kix_xlx2ql85dtwn-5 {
    list-style-type: none
}

ul.lst-kix_xlx2ql85dtwn-8 {
    list-style-type: none
}

.lst-kix_en1kn6aypcvd-7>li:before {
    content: "-  "
}

.lst-kix_en1kn6aypcvd-8>li:before {
    content: "-  "
}

.lst-kix_h6awqcoksin0-5>li:before {
    content: "-  "
}

.lst-kix_h6awqcoksin0-4>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-4>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-4, lower-latin) ". "
}

.lst-kix_5s90k1wk4bdr-8>li:before {
    content: "\0025a0   "
}

.lst-kix_mc86kmvpmqyt-1>li:before {
    content: "-  "
}

.lst-kix_h6awqcoksin0-6>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-3>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-3, decimal) ". "
}

.lst-kix_bo7dh0velakn-7>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-7, lower-latin) ". "
}

.lst-kix_mc86kmvpmqyt-2>li:before {
    content: "-  "
}

.lst-kix_h6awqcoksin0-7>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-0>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-0, decimal) ". "
}

.lst-kix_bo7dh0velakn-8>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-8, lower-roman) ". "
}

.lst-kix_5s90k1wk4bdr-4>li:before {
    content: "\0025cb   "
}

.lst-kix_mc86kmvpmqyt-3>li:before {
    content: "-  "
}

.lst-kix_mc86kmvpmqyt-5>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-2>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-2, lower-roman) ". "
}

.lst-kix_5s90k1wk4bdr-2>li:before {
    content: "\0025a0   "
}

.lst-kix_5s90k1wk4bdr-3>li:before {
    content: "\0025cf   "
}

.lst-kix_h6awqcoksin0-8>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-1>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-1, lower-latin) ". "
}

.lst-kix_mc86kmvpmqyt-4>li:before {
    content: "-  "
}

.lst-kix_5s90k1wk4bdr-0>li:before {
    content: "  "
}

.lst-kix_5s90k1wk4bdr-1>li:before {
    content: "\0025cb   "
}

.lst-kix_mc86kmvpmqyt-7>li:before {
    content: "-  "
}

ol.lst-kix_bo7dh0velakn-3.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-3 0
}

.lst-kix_bo7dh0velakn-1>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-1
}

.lst-kix_mc86kmvpmqyt-6>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-7>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-7
}

.lst-kix_mc86kmvpmqyt-8>li:before {
    content: "-  "
}

ul.lst-kix_h6awqcoksin0-8 {
    list-style-type: none
}

ul.lst-kix_h6awqcoksin0-7 {
    list-style-type: none
}

.lst-kix_xlx2ql85dtwn-6>li:before {
    content: "-  "
}

.lst-kix_xlx2ql85dtwn-8>li:before {
    content: "-  "
}

.lst-kix_xlx2ql85dtwn-7>li:before {
    content: "-  "
}

ul.lst-kix_5s90k1wk4bdr-6 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-7 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-8 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-0 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-1 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-2 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-3 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-4 {
    list-style-type: none
}

ul.lst-kix_5s90k1wk4bdr-5 {
    list-style-type: none
}

ul.lst-kix_h6awqcoksin0-2 {
    list-style-type: none
}

ul.lst-kix_h6awqcoksin0-1 {
    list-style-type: none
}

.lst-kix_5s90k1wk4bdr-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_h6awqcoksin0-0 {
    list-style-type: none
}

ul.lst-kix_h6awqcoksin0-6 {
    list-style-type: none
}

.lst-kix_bo7dh0velakn-6>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-6, decimal) ". "
}

ul.lst-kix_h6awqcoksin0-5 {
    list-style-type: none
}

.lst-kix_5s90k1wk4bdr-6>li:before {
    content: "\0025cf   "
}

.lst-kix_5s90k1wk4bdr-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_h6awqcoksin0-4 {
    list-style-type: none
}

.lst-kix_bo7dh0velakn-5>li:before {
    content: "" counter(lst-ctn-kix_bo7dh0velakn-5, lower-roman) ". "
}

.lst-kix_mc86kmvpmqyt-0>li:before {
    content: "-  "
}

ul.lst-kix_h6awqcoksin0-3 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-2.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-2 0
}

.lst-kix_vtfjggbb6jf-5>li:before {
    content: "-  "
}

.lst-kix_vtfjggbb6jf-7>li:before {
    content: "-  "
}

.lst-kix_vtfjggbb6jf-4>li:before {
    content: "-  "
}

.lst-kix_vtfjggbb6jf-8>li:before {
    content: "-  "
}

.lst-kix_vtfjggbb6jf-1>li:before {
    content: "-  "
}

.lst-kix_vtfjggbb6jf-3>li:before {
    content: "-  "
}

.lst-kix_vtfjggbb6jf-2>li:before {
    content: "-  "
}

ul.lst-kix_en1kn6aypcvd-0 {
    list-style-type: none
}

ul.lst-kix_en1kn6aypcvd-1 {
    list-style-type: none
}

ul.lst-kix_en1kn6aypcvd-2 {
    list-style-type: none
}

.lst-kix_bo7dh0velakn-0>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-0
}

ul.lst-kix_en1kn6aypcvd-3 {
    list-style-type: none
}

ul.lst-kix_en1kn6aypcvd-4 {
    list-style-type: none
}

.lst-kix_vtfjggbb6jf-0>li:before {
    content: "-  "
}

ol.lst-kix_bo7dh0velakn-1.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-1 0
}

ul.lst-kix_en1kn6aypcvd-5 {
    list-style-type: none
}

ul.lst-kix_en1kn6aypcvd-6 {
    list-style-type: none
}

ul.lst-kix_en1kn6aypcvd-7 {
    list-style-type: none
}

ul.lst-kix_en1kn6aypcvd-8 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-4.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-4 0
}

ul.lst-kix_vtfjggbb6jf-8 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-7 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-6 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-5 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-4 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-3 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-2 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-1 {
    list-style-type: none
}

ul.lst-kix_vtfjggbb6jf-0 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-7.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-7 0
}

.lst-kix_h6awqcoksin0-3>li:before {
    content: "-  "
}

.lst-kix_bo7dh0velakn-2>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-2
}

.lst-kix_bo7dh0velakn-8>li {
    counter-increment: lst-ctn-kix_bo7dh0velakn-8
}

.lst-kix_h6awqcoksin0-2>li:before {
    content: "-  "
}

.lst-kix_h6awqcoksin0-0>li:before {
    content: "-  "
}

.lst-kix_h6awqcoksin0-1>li:before {
    content: "-  "
}

ol.lst-kix_bo7dh0velakn-0.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-0 0
}

ol.lst-kix_bo7dh0velakn-6.start {
    counter-reset: lst-ctn-kix_bo7dh0velakn-6 0
}

li.li-bullet-0 {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}

ol.lst-kix_bo7dh0velakn-3 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-2 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-5 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-4 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-1 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-0 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-7 {
    list-style-type: none
}

ol.lst-kix_bo7dh0velakn-6 {
    list-style-type: none
}

.lst-kix_vtfjggbb6jf-6>li:before {
    content: "-  "
}

ol.lst-kix_bo7dh0velakn-8 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c4 {
    margin-left: 29pt;
    padding-top: 12pt;
    text-indent: -1pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 10pt
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 10pt
}

.c1 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c11 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c16 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Arial";
    font-style: normal
}

.c22 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c14 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial"
}

.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c17 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c19 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #0000ee;
    text-decoration: underline
}

.c9 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c13 {
    background-color: #ffffff;
    padding: 36pt 36pt 36pt 36pt
}

.c20 {
    padding: 0;
    margin: 0
}

.c10 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c21 {
    margin-left: 72pt;
    padding-left: 0pt
}

.c2 {
    color: inherit;
    text-decoration: inherit
}

.c23 {
    height: 10pt
}

.c3 {
    font-style: italic
}

.c18 {
    height: 16pt
}

.c15 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 10pt;
    font-family: "Arial";
    margin-left : 50px;
}

p {
    margin: 0;
    color: #000000;
    font-size: 10pt;
    font-family: "Arial";
    margin-left : 50px;
    margin-right : 50px;
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-left: 20pt;
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.flex-col
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top : 50px;
}

.color1
{
    background-color: #F5F5F5;
    padding : 50px;
}

.color2
{
    background-color: #f5e6e6;
    padding-top : 10px;
    padding-bottom : 50px;
    margin-top : 50px;
    margin-bottom: 50px;
    /* font color */
}

.doc-content
{
    max-width : 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding:  0px;  
}

/* after doc-content */
.doc-content:after
{
    margin: 100px;
}