/* Give me some basic styles for paragraphs, headers, etc*/
/* Use tailwind as a reference */

body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

/* Path: Web/style.css */

t {
    font-size: 3em;
    font-weight: bold;
    padding-top: 10px;
}

.caption {
    font-size: 1em;
    font-weight: bold;
    padding-top: 30px;
    color: rgb(49, 47, 47);
    margin-left: 40px;
    padding: 0px;
}

.background1 {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    padding-left : 10px;
    display: block;
}

.background2 {
    background-color: #dadada;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    padding-left : 10px;
    display: block;
}


p {
    margin: 0;
    white-space: pre-line;
    /* indent */
    text-indent: 40px;
    display: flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* apply a default margin to flex-row elements */
.flex-row>* {
    margin: 10px;
}


h1 {
    padding-top: 20px;
}

.basicImage {
    width: 500px;
    height: auto;
}